#!/bin/bash

set -x

cd /root/.ssh/
curl -O https://objectstorage.us-ashburn-1.oraclecloud.com/p/3XMj_W7BnGKih-iTm5k5LvPh7TendgnjgKMOqDhWQAc/n/hpc/b/confidential/o/passwordless_ssh_id_rsa

curl -O https://objectstorage.us-ashburn-1.oraclecloud.com/p/9ks5_X-M_xIGDLQzPiQEDF-RBvk_RRC5LfA5ydfOUDo/n/hpc/b/confidential/o/passwordless_ssh_id_rsa.pub

cp passwordless_ssh_id_rsa id_rsa
cp passwordless_ssh_id_rsa.pub id_rsa.pub

chmod 600 ~/.ssh/id_rsa*
chmod 640 ~/.ssh/authorized_keys


cp /etc/ssh/sshd_config /etc/ssh/sshd_config.backup
sed -i 's/#PermitRootLogin yes/PermitRootLogin yes/g' /etc/ssh/sshd_config

mv /root/.ssh/authorized_keys /root/.ssh/authorized_keys.backup
cp /home/opc/.ssh/authorized_keys /root/.ssh/authorized_keys
cd /root/.ssh/; cat id_rsa.pub >> authorized_keys ; cd -


if [ ! -f ~/.ssh/known_hosts ]; then
        touch ~/.ssh/known_hosts
fi

do_ssh_keyscan () {
  if [ -z `ssh-keygen -F $host` ]; then
    ssh-keyscan -H $host > /tmp/keyscan
    cat /tmp/keyscan | grep "ssh-rsa"
    while [ $? -ne 0 ]; do
      sleep 10s;
      ssh-keyscan -H $host > /tmp/keyscan
      cat /tmp/keyscan | grep "ssh-rsa"
    done;
      ssh-keyscan -H $host >> ~/.ssh/known_hosts
  fi
}

### passwordless ssh setup
for host_fqdn in `cat /home/opc/nodefile` ; do
  host=$host_fqdn
  do_ssh_keyscan
# host=${host_fqdn%%.*}
# do_ssh_keyscan
#  host_ip=`nslookup $host_fqdn | grep "Address: " | gawk '{print $2}'`
#  host=$host_ip
#  do_ssh_keyscan
done ;


